/* * {
  border: solid black;
} */

.cart {
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 7px;
  margin-right: 10px;
}

.user {
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 7px;
}
